{
	name: 									//string (use double quotes if [color] is used)
	description: 							//string (use double quotes if [color] is used)
	
	category: 								//valid category name
	
	research:								//valid research thing id (can be anything, like item, unit, or block)
	
	requirements: [							//array for build cost resources
		// item/count
		// item/count
		// etc...
	]
	
	size:									//natural number for size of the block
	
	craftEffect:							//craft effect when a block finishes crafting
	heatRequirement:						//how much heat is required
	
	drawer: {								//call drawer (optional)
		type: DrawMulti						//essential
		drawers: [
			{
				type: DrawDefault			//draw the main sprite, for example, main sprite of silicon-smelter would be `silicon-smelter`
			}
			{
				type: DrawHeatInput			//draw the heat which shows up when block recieves heat
			}
		]
	}
	
	ambientSound:							//ambient sfx if the building is working
	ambientSoundVolume:						//float volume, keep this low (0.01 ~ 0.2)
	
	consumes: {								//NOT an array, [] is for arrays, {} is for functions
		items: {
			items: [						//array of items that are used in the crafting process
				// item/count
				// item/count
				// etc...
			]
		}
	}
	
	outputItems: [
		// item/count
		// item/count
		// etc...
	]
	craftTime:								//time (in ticks), 1 second is 60 ticks
}